body {
    overflow: hidden;
    margin: 0;
    /* This is necessary to prevent all touch action for the browser itself. This allows the hammer.js recognizer to work. */
    touch-action: none;
    /*experimental: prevent text selection (especially for panning or dragging in visualizations)*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

.experimenter-div {
    padding-left: 10px;
    padding-right: 10px;
}

.slider-label-div {
    font-weight: bolder;
    font-size: 18px
}

.button-label-div {
    text-align: center;
    font-weight: bolder;
    background-color: black;
    background-clip: content-box;
    color: whitesmoke;
}

/*#region slider*/
.noUi-connects {
    background-color: #9a9a9a;
}

.noUi-touch-area {
    background: forestgreen;
}

.ar-placement-slider .noUi-pips {
    color: black;
}

.noUi-vertical .noUi-handle::before,
.noUi-vertical .noUi-handle::after {
    left: 6px;
    height: 2px;
    width: 26px;
}
.noUi-vertical .noUi-handle::before {
    top: 25px;
}
.noUi-vertical .noUi-handle::after {
    top: 33px;
}

.ar-placement-slider {
    height: 90vh;
    width: 30px;
}

.ar-placement-slider .noUi-handle {
    width: 40px;
    height: 60px;
    top: -30px;
}
/*#endregion*/

/*#region button*/
.ar-placement-btn {
    height: 8vh;
    line-height: 8vh;
}
/*#endregion*/